@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../variables/root.css");

.background {
    background-color: var(--dark);
}

.page {
    width: 100%;
    color: var(--white);
    font-family: var(--main-font);
    font-weight: 400;
}

.container {
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.section__header {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
.section__title {
    font-family: var(--title-font);
    font-size: 22px;
}
.section__line {
    width: 100%;
    height: 1px;
    background-color: var(--light-gray);
    border-radius: 20px;
}

.header {
    min-height: 100vh;
    background-image: url('../images/header/__background.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
}
.header__title {
    max-width: 360px;
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 50px;
    line-height: 116%;
    text-align: center;
    margin-top: auto;
}

.nav-bar {
    background-color: var(--heavy-gray);
    width: 100%;
    height: 60px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.nav-bar__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
}
.nav-bar__link::after {
    content: '';
    opacity: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 20px;
    transition: var(--transition-hover);
}

.content {
    width: 100%;
}

.dev-tools {
    width: 100%;
    padding: 100px 0;
}
.dev-tools__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dev-tools__title {
    font-size: 50px;
    margin: 50px 0 12px;
}
.dev-tools__caption {
    font-weight: 500;
    font-size: 18px;
}
.dev-tools__items {
    display: grid;
    grid-template-columns: repeat(9, 90px);
    gap: 20px;
    margin: 50px auto 0;
}
.dev-tools__item {
    width: 100%;
    height: 60px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: var(--transition-hover);
}
.dev-tools__link {
    color: var(--black);
    font-size: 14px;
    position: relative;
}
.dev-tools__link::after {
    content: '';
    opacity: 0;
    width: 100%;
    height: 0.5px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 20px;
    transition: var(--transition-hover);
}

.about-me {
    width: 100%;
    background-color: var(--heavy-gray);
    padding: 100px 0;
}
.about-me__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0 0;
}
.about-me__text-block {
    max-width: 640px;
}
.about-me__name {
    font-size: 50px;
    margin: 0 0 16px;
}
.about-me__caption {
    font-size: 18px;
    margin: 0 0 24px;
}
.about-me__info {
    font-size: 14px;
    line-height: 160%;
}
.about-me__frame {
    width: 340px;
    height: 340px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    position: relative;
}
.about-me__img {
    width: 320px;
    height: 320px;
    border-radius: 10px;
    position: relative;
}

.portfolio {
    width: 100%;
    padding: 100px 0;
}
.portfolio__items {
    width: 100%;
    margin: 50px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.portfolio__item {
    color: var(--black);
    background-color: var(--white);
    width: 100%;
    box-sizing: border-box;
    padding: 24px 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    transition: var(--transition-hover);
}
.portfolio__item-name {
    font-size: 24px;
    font-weight: 500;
}
.portfolio__item-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.portfolio__item-link {
    font-size: 16px;
    position: relative;
}
.portfolio__item-link::after {
    content: '';
    opacity: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 20px;
    transition: var(--transition-hover);
}

.footer {
    width: 100%;
    margin-top: 100px;
    padding-top: 20px;
}
.footer .section__title {
    color: var(--light-gray);
    font-size: 14px;
    margin: 0 auto;
}
.footer__box {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__caption {
    font-size: 14px;
}
.footer__links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer__link {
    font-size: 14px;
    position: relative;
}
.footer__link::after {
    content: '';
    opacity: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 20px;
    transition: var(--transition-hover);
}


@media (hover: hover) {
    .nav-bar__link:hover::after {
        opacity: 1;
        bottom: -2px;
    }

    .dev-tools__item:hover {
        transform: scale(1.04);
    }
    .dev-tools__items:has(.dev-tools__item:hover) .dev-tools__item:not(:hover) {
        transform: scale(0.96);
        opacity: 0.8;
    }
    .dev-tools__item:active {
        transform: scale(0.96);
        opacity: 0.8;
    }
    .dev-tools__link:hover::after {
        opacity: 1;
        bottom: -2px;
    }
    
    .portfolio__item:hover {
        transform: scale(1.01);
    }
    .portfolio__items:has(.portfolio__item:hover) .portfolio__item:not(:hover) {
        transform: scale(0.99);
        opacity: 0.8;
    }
    .portfolio__item-link:hover::after {
        opacity: 1;
        bottom: -4px;
    }
    
    .footer__link:hover::after {
        opacity: 1;
        bottom: -2px;
    }
}

@media (hover: none) {
    .nav-bar__link:hover::after {
        opacity: 1;
        bottom: -2px;
    }

    .dev-tools__item:hover {
        transform: scale(1.04);
    }
    .dev-tools__items:has(.dev-tools__item:hover) .dev-tools__item:not(:hover) {
        transform: scale(0.96);
        opacity: 0.8;
    }
    .dev-tools__item:active {
        transform: scale(0.96);
        opacity: 0.8;
    }
    .dev-tools__link:hover::after {
        opacity: 1;
        bottom: -2px;
    }
    
    .portfolio__item:hover {
        transform: scale(1.01);
    }
    .portfolio__items:has(.portfolio__item:hover) .portfolio__item:not(:hover) {
        transform: scale(0.99);
        opacity: 0.8;
    }
    .portfolio__item-link:hover::after {
        opacity: 1;
        bottom: -4px;
    }
    
    .footer__link:hover::after {
        opacity: 1;
        bottom: -2px;
    }
}

@media screen and (max-width: 1140px) {
    .section__title {
        font-size: 18px;
    }
    .header__title {
        font-size: 40px;
    }  
    .dev-tools__title {
        font-size: 36px;
    }
    .dev-tools__caption {
        font-size: 16px;
    }
    .dev-tools__items {
        grid-template-rows: repeat(2, 60px);
        grid-template-columns: repeat(5, 90px);
    }
    .about-me__text-block {
        max-width: 400px;
    }
    .about-me__name {
        font-size: 36px;
    }
    .about-me__caption {
        font-size: 16px;
    }
    .portfolio__items {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}
@media screen and (max-width: 820px) {
    .section__title {
        font-size: 16px;
    }
    .header__title {
        max-width: 240px;
        font-size: 32px;
    } 
    .nav-bar__link {
        font-size: 12px;
    }
    .dev-tools__title {
        font-size: 32px;
    }
    .dev-tools__caption {
        font-size: 14px;
    }
    .dev-tools__items {
        grid-template-rows: repeat(3, 60px);
        grid-template-columns: repeat(3, 90px);
    }
    .dev-tools__link {
        font-size: 12px;
    }
    .about-me__box {
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-me__frame {
        margin-bottom: 36px;
    }
    .about-me__text-block {
        max-width: 100%;
    }
    .about-me__name {
        font-size: 32px;
    }
    .about-me__caption {
        font-size: 14px;
    }
    .portfolio__item-name {
        font-size: 18px;
    }
    .portfolio__item-link {
        font-size: 12px;
    }
    .footer__caption {
        font-size: 12px;
    }
    .footer__link {
        font-size: 12px;
    }
}
@media screen and (max-width: 480px) {
    .header__title {
        max-width: 240px;
        font-size: 28px;
    }
    .dev-tools__title {
        font-size: 28px;
    }
    .about-me__frame {
        width: 260px;
        height: 260px;
    }
    .about-me__img {
        width: 240px;
        height: 240px;
    }
    .about-me__name {
        font-size: 28px;
    }
    .portfolio__item-name {
        font-size: 14px;
    }
    .portfolio__item-links {
        gap: 12px;
    }
    .portfolio__item-link {
        font-size: 10px;
    }
    .footer__box {
        align-items: start;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .footer__links {
        gap: 10px;
    }
}